<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Modifier cet article", edit_article_path(@article) %> |
  <%= link_to "Retour aux articles", articles_path %>

  <%= button_to "Supprimer cet article", @article, method: :delete %>
</div>

<% if @article.photo.attached? %>
  <div>
    <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
    <!-- Ou, si vous préférez utiliser image_tag : -->
    <!-- <%= image_tag url_for(@article.photo), height: 300, width: 400 %> -->
  </div>
<% end %>
